<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTxQGe0PbFRblBLFDeBGRluBb-NSVbCCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>382117449584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agustincarbajal.treads</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-dbeb9</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-dbeb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382117449584:ios:9c1f379b1309030a4789b5</string>
</dict>
</plist>